openapi: 3.0.4
info:
  title: Daylight Duration Calculator
  description: >-
    Daylight Duration Calculator computes sunrise, sunset times, and total
    daylight hours for any geographic location and date using astronomical
    algorithms.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/daylightduration:
    get:
      summary: Calculate Daylight Duration
      description: Calculate sunrise, sunset, and daylight hours for a location
      operationId: daylightduration
      parameters:
        - name: latitude
          in: query
          schema:
            type: number
          required: true
          description: Latitude of the location
          example: 40.7128
        - name: longitude
          in: query
          schema:
            type: number
          required: true
          description: Longitude of the location
          example: -74.006
        - name: date
          in: query
          schema:
            type: string
          required: false
          description: Date in YYYY-MM-DD format (defaults to today)
          example: '2024-06-21'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  date: '2024-06-21'
                  location:
                    latitude: 40.7128
                    longitude: -74.006
                  condition: Normal
                  description: Standard sunrise and sunset
                  sunrise: '09:25:09'
                  sunset: '24:30:44'
                  daylight_duration:
                    total_minutes: 905.58
                    hours: 15
                    minutes: 5
                    formatted: '15:05:00'
                  day_of_year: 173
                  is_valid: true
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
